# Dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts
tsconfig.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Tests
coverage/

# Misc
.DS_Store
*.log
npm-debug.log*

# Editors
.vscode/
.idea/
